{% extends '_base.html' %}

{% load tz %}
{% load comments %}

{% block content %}
<section class="well post">
    <h1>{{ blog.title }}</h1>
    
    <address class="post_infos">
                            发表于{{ blog.created|localtime }} {% if TIME_ZONE %}（{{TIME_ZONE}}）{% endif %}
        &nbsp;
        {% for t in blog.tags.all %}
            <a href="{% url list-by-tag t.id %}" class="label tag">{{ t.name }}</a>    
        {% endfor %}
    </address>
    <hr/>
    <p>
    {{ blog.content|wiki2html|safe }}
    <p>
</section>

<p>
    <span class="label label-info">郑重声明</span> 除非注明，本站文章均为原创或编译，转载请注明： 文章来自 <code>http://wenchen.me</code>
</p>

<hr/>
{% render_comment_list for blog %}

{% render_comment_form for blog %}

{% endblock content %}

{% block extra_js %}
<script>
$(function(){
    $('.well.post').find('table').addClass('table table-bordered table-striped');
    //$('.comment_form').find('textarea').css({'width':'60%','height':'100px','min-width':'210px'});
    var _url = window.location.href;
    var p = _url.indexOf('?c=');
    if (p != -1) {
        console.log('returned after comment:', _url);
        var cid = _url.slice(p +3);
        var cObj = document.getElementById('c'+ cid);
        if (cObj) {
            cObj.scrollIntoView();    
        }
    }
});
</script>
{% endblock extra_js %}
