{% load comments %}
<form class="comment_form" action="{% comment_form_target %}" method="post">{% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" id="comment_next_url" />
    {% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        {% if field.errors %}{{ field.errors }}{% endif %}
        <div class="control-group{% if field.errors %} error{% endif %}"{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
            {{ field.label_tag }}
            <div class="controls">
                {{ field }}
                {% ifequal field.name "comment" %}
                    <p>
                        <em>评论内容支持<a href="http://wikicreole.org/attach/CheatSheet/creole_cheat_sheet.png" target="_blank">Creole WIKI</a>格式</em>
                    </p>
                {% endifequal %}
            </div>
        </div>
    {% endif %}
    {% endfor %}
    <p class="submit">
    <input type="submit" name="post" class="btn btn-primary" value="{% trans "Post" %}" />
    <input type="submit" name="preview" class="btn" value="{% trans "Preview" %}" />
    </p>
</form>